<h1>Editing pin</h1>

<%= render 'form' %>

<%= link_to @pin do%>
	<span class="glyphicon glyphicon-eye-open"></span> View
<%end%>
<%= link_to pins_path do%>
	<span class="glyphicon glyphicon-backward"></span> Go Back
<%end%>

