<div class="jumbotron center">
	
	<% if user_signed_in? %>
		<h1>Welcome to Members area !</h1>
		<p> You are now logged in!</p>	

	<% else %>
		<h1>Welcome to SrInterests !</h1>
		<p> Please Sing-In/Sign-Up to view the gallery</p>		
		<p>
			<%= link_to new_user_session_path, class: "btn btn-warning btn-lg" do %>
				<span class="glyphicon glyphicon-log-in"></span>  Sign-In
			<% end %>	
			<%= link_to new_user_registration_path, class: "btn btn-danger btn-lg" do %>
				<span class="glyphicon glyphicon-new-window"></span>  Sign-up
			<% end %>
		</p>
	<% end %>	
</div>

