<body class="about_body">

	<div class="about_container">
		<!-- START HERE --> 
		<h1>About Sri!</h1>
		<h2>You met me at the Mara!</h2>

		<p>I'm currently VP-Technology @ SmartOn Learning.</p>

		<p>My three favorite things in the world: Wildlife (includes my kids), Gardening and DIY..</p>

		<p>I couldn't afford one of those cool websites. So I made my own.</p>

		<a href="https://github.com/srivatsats" target="_blank">	
			<img src="assets/github.png" alt="Github">
		</a>
		<a href="https://twitter.com/Srivatsats" target="_blank">
			<img src="assets/twitter.png" alt="Twitter"> 
		</a>
		<a href="https://www.facebook.com/srivatsa.sreenivasarao" target="_blank">
			<img src="assets/facebook.png" alt="Facebook">
		</a>
		
		<div class="fb-like" data-href="http://srinterests.herokuapp.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>

	</div><!-- .container -->

</body>
