<div class="jumbotron center">
	
	<h1>Welcome to SrInterests !</h1>
	<p>
		<%= link_to "Log-In", login_path, class: "btn btn-warning btn-lg" %>
		<%= link_to "Sign Up", login_path, class: "btn btn-danger btn-lg" %>
	</p>
</div>
